@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightColor: #ffffff;
  --darkColor: #101010;
  --primaryDark: #D87D4A;
  --primaryLight: #fbaf85;
  --seondaryDark: #F1F1F1;
  --secondaryLight: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--darkColor);
  background: var(--lightColor);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
